/* Iridian Arreola
 April 23, 2023 */
div {
    margin: 10px;
}

label {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
}

input {
    font-size: 1.25em;
    padding: 5px;
    border: 1px solid #333333;
    transition: all 0.5s ease;
}

input:focus {
    font-size: 1.35rem;
    padding: 1px;
    border: 2px solid  rgb(240, 164, 236);;
    outline: none;
}